@import "../../../styles/vars.scss";

.tournament-teams-cutoff {
    border-bottom: 1px solid black;
}

.tournament-groups {
    .col {
        margin-bottom: 15px;
    }
}

.group-table {
    table-layout: fixed;

    margin: 0;

    .group-pairing-rows:hover {
        cursor: pointer;
        background: $accent-highlight !important;
    }    

    .group-table--count {
        width: 30px;
        text-align: center;
    }

    .group-table--team {
        .group-table--team-wrapper {
            display: flex;
            flex-direction: row;

            align-content: stretch;

            &.text-right {
                justify-content: flex-end;
            }

            &.text-left {
                justify-content: flex-start;
            }

            .label {
                margin: 0 5px;
                line-height: 1.42857;
            }

            .group-table--team-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}