@import "../../../styles/vars.scss";
@import "../../../styles/utils.scss";
.tournament-bracket-container {
    overflow-x: auto;
    position: relative;
    height: auto;
}

.tournament-bracket {
    position: relative;
    .link {
        fill: none;
        stroke: $accent;
        stroke-width: 1px;
    }
    .labels {
        .table {
            position: absolute;
            background-color: #EAEAEA;
            padding: 5px 7px 3px;
            line-height: 2;
            min-width: 185px;
            color: #222222;
            border: 0px solid rgba(34, 34, 34, 0.1);
        }
        .table.played {
            background-color: #e6c954;
        }
        .tournament-row {
            display: flex;
            flex-direction: row;
        }
    }
    .winner {
        font-weight: bold;
    }
    .tournament-cell {
        &.score {
            border-left: 1px solid rgba(34, 34, 34, 0.1);
            width: 25px;
            flex: 0 0 auto;
            text-align: right;
            margin: 0px 2px;
        }
        &.name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 5px;
            flex: 1 1 auto;
        }
    }
}