@import "../../styles/vars";

.chatButton {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid gray;
    border-bottom: none;
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 100;
}

$windowHeightFull: 350px;
$windowWidthFull: 550px;
$buttonWidth: 100px;

$headerHeight: 32px;
$inputHeight: 34px;

$usersWidth: 100px;

.chatWindow {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 1px solid grey;
    border-bottom: none;
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 100;
    width: $windowWidthFull;
    height: $windowHeightFull;
    background: white;

    .chatHeader {
        height: $headerHeight;
        border-bottom: 2px solid $accent;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: inline-block;

            a {
                display: inline-block;
                height: $headerHeight;
                line-height: $headerHeight;

                padding: 0 10px;
            }
        
            &.selected {
                a {
                    color: white;
                }

                background: $accent;
            }
            
            &:hover {
                background: $accent;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

        }
    }

    .chatInput {
        margin: 0;
        padding: 0;

        width: 100%;

        input {
            display: inline-block;
            width: calc(100% - #{$buttonWidth});
            height: $inputHeight;
        }

        button {
            display: inline-block;

            width: $buttonWidth;
            height: $inputHeight;
        }
    }

    .chatActions {
        position: absolute;
        top: 0;
        right: 0;

        button span {
            margin: 0 3px;
        }
    }

    .chatContent {
        margin: 0;
        padding: 0 8px;

        clear: both;

        height: calc(100% - #{$inputHeight + $headerHeight});

        .chatContentMessages {
            float: left;

            overflow-x: hidden;
            overflow-y: auto;

            width: calc(100% - #{$usersWidth});
            max-height: 100%;
        }

        .chatContentUsers {
            float: right;
            width: $usersWidth;

            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-y: auto;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                .chatDate {
                    font-weight: bold;
                }

                .chatUser {
                    font-style: italic;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    div.chat-window {
        right: 0;
        width: 100%;
        left: 0;
    }
}
