@import "./vars.scss";

.play-container {
    width: 100%;
    height: 100%;
}

.play-header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;
}

.play-sidebar-container {
    position: absolute;
    top: $header-height;
    left: 0;
    bottom: 0;
    width: $sidebarWidth;
    z-index: 25;
    overflow-y: auto;

    background: url('/assets/background.png') repeat-x white;
    padding: $basePadding;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.play-area {
    position: absolute; 
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;

    overflow: auto;
    touch-action: manipulation;
    transition: all 0.3s ease;

    background: white;
    
    &.sidebar {
        transform: translate3d($sidebarWidth, 0px, 0px);
        right: $sidebarWidth;
    }
}