.player {
    &-0 {
        background-color: #DEB284;
    }

    &-1 {
        background-color: #FF0000;
    }

    &-2 {
        background-color: #0000CC;
    }

    &-3 {
        background-color: #FF8C00;
    }

    &-4 {
        background-color: #00FF33;
    }

    &-5 {
        background-color: #8B0A50;
    }

    &-6 {
        background-color: #FFEE66;
    }

    &-7 {
        background-color: #FF99FF;
    }

    &-8 {
        background-color: #000000;
    }

    &-9 {
        background-color: #528B8B;
    }

    &-10 {
        background-color: #00FFCC;
        color: grey;
    }

    &-11 {
        background-color: #006600;
    }

    &-12 {
        background-color: #FFFFFF;
        color: grey;
    }

    &-13 {
        background-color: #191970;
        color: yellow;
    }

    &-14 {
        background-color: #8B4513;
        color: yellow;
    }

    &-15 {
        background-color: #63B8FF;
        color: yellow;
    }

    &-16 {
        background-color: #AAAA44;
        color: yellow;
    }

    &-17 {
        background-color: #00ff00;
    }

    &-18 {
        background-color: #CD8C95;
    }
}

.team {
    &-1 {
        background-color: blue;
    }

    &-2 {
        background-color: red;
    }

    &-3 {
        background-color: green;
    }

    &-4 {
        background-color: orange;
    }
}

/* Continents */

.continent {
    &-0 {
        background-color: #DEB284;
    }

    &-1 {
        background-color: #009846;
    }

    &-2 {
        background-color: #E42130;
    }

    &-3 {
        background-color: #0000FF;
    }

    &-4 {
        background-color: #FF00FF;
    }

    &-5 {
        background-color: #000000;
    }

    &-6 {
        background-color: #676767;
    }

    &-7 {
        background-color: #407194;
    }

    &-8 {
        background-color: #FF6600;
    }

    &-9 {
        background-color: #800080;
    }

    &-10 {
        background-color: #BEC137;
    }

    &-11 {
        background-color: #AD3805;
    }

    &-12 {
        background-color: #90ee90;
    }

    &-13 {
        background-color: #ffd700;
    }

    &-14 {
        background-color: #AAAAAA;
    }

    &-15 {
        background-color: #01C0D6;
    }

    &-16 {
        background-color: #8a57ac;
    }

    &-17 {
        background-color: #00ff00;
    }

    &-18 {
        background-color: #6F0DBF;
    }
}
