@import '~office-ui-fabric-react/dist/sass/Fabric';

@import "./utils";
@import "./vars";

$basePadding: 15px;

body {
    padding: $basePadding;
}

.ms-Grid-col {
    padding: $basePadding !important;
}