// Utils
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Layout
$spacing: 10px;

// Colors
$accent: #e6c954;
$dark: #3e4753;

// Font sizes
$fontNormal: 14px;
$fontSmall: 12px;