// Utils
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Layout
$spacing: 10px;

// Colors
$stdColor: #555555;
$accent: #e6c954;
$accent-highlight: lighten($accent, 20%);
$dark: #3e4753;
$colorInactive: #687074;

// Font sizes
$fontNormal: 13px;
$fontSmall: 11px;

//
// Responsive breakpoints
//

// Extra small screen / phone
$screen-xs: 480px;
$screen-phone: $screen-xs;

// Small screen / tablet
$screen-sm: 768px;
$screen-tablet: $screen-sm;

// Medium screen / desktop
$screen-md: 992px;
$screen-desktop: $screen-md;

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-desktop: $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

$basePadding: 15px;