.player-outcome-none {
    color: lightgray;
}

.player-outcome-defeated {
    color: darkred;
}

.player-outcome-surrendered {
    color: darkorange;
}

.player-outcome-timeout {
    color: gray;
}

.player-outcome-won {
    color: green;
}
