@import "../../styles/vars";

.layout {
    position: relative;

    max-width: 1170px;
    min-height: 100%;

    margin: 0 auto;    

    background: white;
    box-shadow: 0 0 5px #ccc;
}

.language {
    button, ul {
        font-size: 11px !important;
        text-transform: uppercase;
    }

    ul {
        min-width: 100px;
    }
}

$headerHeight: 120px;
.header {
    margin-top: $spacing;

    .logo {
        padding: $spacing * 2;
        height: $headerHeight;

        img {
            height: 100%;
        }
    }

    .mobile-navigation {
        text-align: right;
    }

    .navigation-container {
        height: $headerHeight;

        text-align: right;
    }

    .lang {
        height: $headerHeight / 2;
    }

    .navigation {
        position: relative;
        height: $headerHeight / 2;

        a {
            color: black;
            text-decoration: none;
        }

        ul.nav {
            position: absolute;
            bottom: 0;
            right: 0;

            list-style: none;
            padding: 0;
            margin: 0;

            & > li {
                display: inline-block;
                position: relative;

                & > a {
                    text-transform: uppercase;
                    //@include ms-font-m-plus;
                    //color: $ms-color-neutralSecondary;

                    display: inline-block;

                    padding: $spacing #{2 * $spacing / 2};
                    border-bottom: 2px solid transparent;
                    &.active,
                    &:hover {
                        border-bottom: 2px solid $accent;
                    }

                    &.active {
                        color: $accent;
                    }
                }

                // Show dropdown         
                &:hover {
                    ul.nav-dropdown {
                        display: block;
                    }
                }
            }

            ul.nav-dropdown {
                display: none;

                border-top: 2px solid $accent;
                background: white;
                box-shadow: 0 6px 12px rgba(0,0,0,0.175);

                min-width: 150px;
                z-index: 9999 !important;

                position: absolute;
                top: calc(100% - 2px);
                left: 0;
                right: 0;

                list-style: none;
                padding: 0;
                margin: 0;

                text-align: left;

                li {
                    margin: 0;
                    padding: 0;

                    cursor: pointer;
                    padding: $spacing;

                    a {
                        display: block;

                        &.active {
                            color: $accent;
                        }
                    }
                    &:hover {
                        a {
                            color: white;
                        }

                        background: $dark;
                    }
                }
            }

            // Fix alignment for right-most nav element
            & > li:last-child ul.nav-dropdown {
                left: inherit;
            }
        }
    }
}

.mobile-nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: white;
    z-index: 500;
    text-align: left;

    padding: $spacing;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 10px;

            ul {
                margin-left: 20px;
            }
        }
    }

    // First level
    .row > ul > li > a {
        text-transform: uppercase;
    }

    // All levels
    a {
        display: block;

        color: black;

        &.active {
            color: $accent;
        }
    }
}

.content {
    background: url('/assets/background.png') repeat-x #fff;
    padding-bottom: 50px;
    min-height: 500px;

    .row {
        margin: 15px 0;
    }
}

$footerBg: $dark;
$footerHeight: 40px;
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0;

    background: $footerBg;
    color: white;
    font-size: $fontSmall;

    height: $footerHeight;
    line-height: $footerHeight;

    padding: 0 $spacing;
    @include ellipsis;
}

.main-content {
    padding: 20px 0;
}

.message .alert {
    margin-bottom: 0;
}

.ads {
    margin: 10px auto;    
}