<!-- Partial file -->

<rule name="Rewrite rule1 for _next/.*" stopProcessing="true">
                    <match url="^_next/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url=".next/{R:1}" appendQueryString="false" />
                </rule>