@import "../../../styles/vars.scss";

.feature {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 10px;

    display: flex;
}

.feature-desc {}

.feature-icon {
    padding: 10px;
    color: $accent;
    font-size: 35px;
    text-align: center;

    align-content: top;

    width: 80px;

    flex: 0 0 auto;
}