@import "../../../styles/_colors";

@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Map
$country-width: 26px;
$country-height: 24px;
$country-inset-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 1);
.country {
    position: absolute;
    width: $country-width;
    line-height: $country-height;
    border-radius: 50% !important;
    background: gray;
    border: 1px solid black;
    box-shadow: $country-inset-shadow;
    text-align: center;
    z-index: 100;
    @include unselectable();
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    $text-shadow: black;
    text-shadow: -1px 0 0.01em $text-shadow, 0 1px 0.01em $text-shadow, 1px 0 0.01em $text-shadow, 0 -1px 0.01em $text-shadow;
    -webkit-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    -moz-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    -o-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    -ms-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    
    .dimmed & {
        opacity: 0.5;
    }

    &-highlight {
        border-color: white;
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.39) !important;
    }

    &-active {
        opacity: 1 !important;
    }
}

// 
// Team Country rules
//
@for $i from 1 through length($teamColors) {    
    .country-team-#{$i} {
        box-shadow: $country-inset-shadow, team-shadow(nth($teamColors, $i));
    }
}

.map {
    &.blocked {
        &,
        .country {
            cursor: not-allowed;
        }
    }
}

.connections {
    path {
        stroke-width: 3px;
        cursor: pointer;
    }
    &-attack {
        path:last-child {
            fill: red;
            stroke-width: 2px !important;
        }
        path {
            stroke: red;
        }
    }
    &-move {
        path:last-child {
            fill: blue;
            stroke-width: 2px !important;
        }
        path {
            stroke: blue;
        }
    }
    &-hover path {
        stroke: white !important;
    }
    path:first-child {
        /* Outline */
        stroke-width: 34px !important;
        stroke: transparent !important;
        fill: transparent !important;
    }
}

.connection {
    path {
        stroke-width: 4px;
        stroke-opacity: 0.8;
    }
    &-attack path {
        stroke: red;
    }
    &-move path {
        stroke: blue;
    }
}

//
// History
//

/* History */

.country-place {
    width: 20px;
    height: 15px;
    position: absolute;
    z-index: 200;
    font-size: 8px;
    border-radius: 7px !important;
    text-align: center;
    line-height: 15px;
    background: #2ecc71;
    margin-left: 15px;
    margin-top: -5px;
}

.history-label {
    width: 20px;
    font-size: 10px;
    background: white;
    border-radius: 5px !important;
    border: 1px solid black;
    text-align: center;
}

//
// Input 
//
.input-country {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px !important;
    background: white;
    border: 2px solid black;
    text-align: center;
    line-height: 18px;
    z-index: 50;
}

@mixin width-animation($from, $to) {
    from {
        width: 30px;
    }
    to {
        width: $to;
    }
}

$input-country-animation-speed: 0.3s;
.input-country-active {
    -webkit-animation: country-input-on $input-country-animation-speed;
    -moz-animation: country-input-on $input-country-animation-speed;
    -o-animation: country-input-on $input-country-animation-speed;
    animation: country-input-on $input-country-animation-speed;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    width: 40px;
    input {
        width: 30px;
        border: none;
        text-align: center;
        height: 16px;
        border-radius: 5px !important;
        font-size: 12px;
        float: right;
        line-height: 16px;
        &[type=number] {
            -moz-appearance: textfield;
        }
        &[type=number]::-webkit-outer-spin-button,
        &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

@-webkit-keyframes country-input-on {
    @include width-animation(30, 50);
}

@keyframes country-input-on {
    @include width-animation(30, 50);
}

//
//
//
.action-overlay-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5000;
}

$inputWidth: 30px;
$inputHeight: 21px;
.action-overlay-placeholder {
    width: $inputWidth;
    height: $inputHeight;
}

.action-overlay-input {
    width: $inputWidth;
    border-radius: 5px !important;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
    outline: none;
    z-index: 5000;
}


/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}