@import "~office-ui-fabric-react/dist/sass/Fabric";
@import "../../styles/vars";

.chat-button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid gray;
    border-bottom: none;
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 100;
}

$windowHeightFull: 250px;
$buttonWidth: 100px;

$headerHeight: 32px;
$inputHeight: 30px;

$usersWidth: 100px;

.chat-window {
    -webkit-backface-visibility: hidden;
    border: 1px solid grey;
    border-bottom: none;
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 100;
    width: 500px;
    height: $windowHeightFull;
    background: white;

    .chat-header {
        height: $headerHeight;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            display: inline-block;

            a {
                display: inline-block;
                height: $headerHeight;
                line-height: $headerHeight;

                padding: 0 10px;
            }

            &.selected {
                a {
                    color: white;
                }

                background: $accent;
            }
            &:hover {
                background: $accent;

                a {
                    color: white;
                    text-decoration: none;
                }
            }

        }
    }

    .chat-input {
        margin: 0;
        padding: 0;

        width: 100%;
        height: $inputHeight;

        .ms-TextField {
            display: inline-block;
            width: calc(100% - #{$buttonWidth});
            height: 30px;

            input {
                height: 30px;
            }
        }

        button {
            display: inline-block;

            width: $buttonWidth;
            height: 30px;
        }
    }

    .chat-actions {
        position: absolute;
        top: 2px;
        right: 2px;

        button span {
            margin: 0 3px;
        }
    }

    .chat-content {
        margin: 0;
        padding: 0 8px;

        clear: both;

        height: calc(100% - #{$inputHeight + $headerHeight});

        .chat-content-messages {
            float: left;

            overflow-x: hidden;
            overflow-y: auto;

            width: calc(100% - #{$usersWidth});
            max-height: 100%;
        }

        .chat-content-users {
            float: right;
            width: $usersWidth;

            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow-y: auto;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                .chat-date {
                    font-weight: bold;
                }

                .chat-user {
                    font-style: italic;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    div.chat-window {
        right: 0;
        width: 100%;
        left: 0;
    }
}
