@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


// Map
$country-height: 25px;

.country {
    position: absolute;
    width: $country-height; // 30px;
    height: $country-height;   
    border-radius: 50% !important;
    background: gray;
    border: 2px solid black;
    text-align: center;
    line-height: ($country-height - 2);

    z-index: 100;

    @include unselectable();

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    $text-shadow: black;
    text-shadow: -1px 0 0.01em $text-shadow, 0 1px 0.01em $text-shadow, 1px 0 0.01em $text-shadow, 0 -1px 0.01em $text-shadow;

    -webkit-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    -moz-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    -o-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    -ms-transition: background-color 500ms, box-shadow 200ms, border-color 200ms;
    transition: background-color 500ms, box-shadow 200ms, border-color 200ms;

    &:hover {      
    }

    .dimmed & {
        opacity: 0.5;
    }

    &-highlight {
        border-color: white;

        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.39);
    }

    &-active { 
        opacity: 1 !important;
    }
}

.connections {
    path {
        stroke-width: 3px;
    }

    &-attack {
        path:last-child {            
            fill: red;
            stroke-width: 2px !important;
        }

        path {
            stroke: red;
        }
    }

    &-move {
        path:last-child {
            fill: blue;
            stroke-width: 2px !important;
        }

        path {
            stroke: blue;
        }
    }

    &-hover path {
        stroke: white !important;
    }

    path:first-child {
        /* Outline */
        stroke-width: 34px !important;
        stroke: transparent !important;
        fill: transparent !important;
    }
}

.connection {
    path {
        stroke-width: 4px;
        stroke-opacity: 0.8;
    }

    &-attack path {
        stroke: red;
    }

    &-move path {
        stroke: blue;
    }
}