.gameChatList {
    padding: 10px;
    height: 200px - 32px;
    overflow: auto;
    ul {
        list-style: none;
        padding: 0;
    }
    strong {
        margin-right: 10px;
    }
    .gameChatDate {
        font-size: 80%;
    }
}

$buttonWidth: 75px;

.gameChatInputGroup {
    display: flex;

    .gameChatInput {
        flex-grow: 1;
        height: 34px;
    }
    .gameChatButton {
        width: $buttonWidth;
        height: 34px;
    }
}

.gameChat {
    :global .tab-content {
        height: 200px;
        padding: 0;
    }
}