.mapSvgOverlay {
    svg {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
    }

    path {        
        animation: dash 0.3s ease-out forwards;
    }
}

:global {
    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
}
