.vertical-boxes .vertical-box {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    background: rgba(230,201,84,0.1);
    border: 2px solid #e6c954;
    text-align: center;

    h4 {
      font-size: 20px;
      padding: 20px 0;
      color: black;
      text-align: center;
    }

    h5 {
      color: black;
      padding: 10px;
      background: #e6c954;
      font-size: medium;
    }
}
